<header>
    <div class="container">
        <a href="/"><img class="logo" src={{ asset('img/site/logo.png') }} alt=""></a>
        <div class="hamburger">
            <ul>
                <li class="first"></li>
                <li class="second"></li>
                <li class="third"></li>
            </ul>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/" id="home">Home</a></li>
                <!-- <li><a href="/cursos" id="sobre">Cursos</a></li> -->
                <li><a href="http://uninter.com/graduacao-ead/cursos" target="_blank" id="sobre">Cursos</a></li>
                <li><a href="/inscricao" id="especialidades">Inscrição</a></li>
                <li><a href="/portal" id="estrutura">Portal do aluno</a></li>
                <li><a href="/contato" id="contato">Contato</a></li>
            </ul>
        </nav><!--end menu-->
    </div><!--end container-->
</header><!--end header-->